<script>
function myFunction() {
  // Declare variables
  let input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="חיפוש שם או אומן...">

<ul id="myUL">
<% @songs.each do |song| %>
  <li><a href="request/<%= song[:page.to_s] %>"><b><%= song[:title.to_s] %></b> - <%= song[:artist.to_s] %></a></li>
<% end %>
</ul>

